<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

<connectionStrings>
  <add name ="EclerxConn" connectionString="Data Source=LAPTOP-6FIM74JD\SQLEXPRESS;Initial Catalog=Eclerx; Integrated Security=true"/>
</connectionStrings>

</configuration>